.containerSkills_logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.boxInfoSkills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f9f9;
    margin: 60px 0;
    width: 80vw;
    height: 200px;
}
.skillLogo{
    max-width: 200px;
    max-height: 200px;
    transition: all 250ms ease;
}
.skillLogo:hover{
    transform: scale(1.11);
    transition: all 250ms ease;
    cursor: pointer;
}
.experiencieSkill{
    padding: 20px 0 40px 0;
    font-size: 22px;
    font-weight: 500;
    max-width: 70%;
    text-align: center;
}

@media only screen and (min-width: 540px){
    .boxInfoSkills{
        width: 35vw;
    }
}

@media only screen and (min-width: 1200px){
    .skill{
        max-width: 90%;
    }
    .boxInfoSkills{
        width: 40vw;
    }
    .boxInfoSkills{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .experiencieSkill{
        padding: 0;
        font-size: 28px;
    }
}