.titleProyectos{
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    font-size: 28px;
}
.proyectLinksContainer{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding-top: 40px;
}
.proyectLinksContainer > *{
    padding: 8px 0;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 20px;
    transition: all 250ms ease;
}
.proyectLinksContainer > *{
    padding: 8px 0;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    transition: all 250ms ease;
}

.proyectLinksContainer > *:hover{
    color: #0d58c9;
    transition: all 250ms ease;
}
.ayoPage::after{
    content: "";
}
.proyectsImageContainer{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;
}
.imageProyect{
    position: relative;
    display: inline-block;
    width: 70%;
    height: 100%;
    margin: auto;
}
.imageProyect img{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    -webkit-filter: brightness(100%);
    transition: all 1s ease;
}

.imageProyect img:hover{
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.imageLinkProyect{
    text-align: center;
    width: 100%;
    height: 100%;
}
.imageLinkProyect img{
    width: 100%;
    height: 100%;
}
.gifLinkProyect{
    width: 100%;
    text-align: center;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all 750ms ease;
}
.gifLinkProyect:hover{
    opacity: 1;
    transition: all 750ms ease;
}
.titlePresentationProyect{
    text-decoration: none;
    color: #0f0f0f;
    text-align: center;
}
.titlePresentationProyect h1{
    padding-top: 20px;
    font-weight: 600;
}
.textBodyPresentationProyect{
    text-align: center;
    max-width: 90%;
    margin: auto;
    font-weight: 500;
    font-size: 17px;
}
@media only screen and (min-width: 768px){
    .titleProyectos{
        font-size: 48px;
    }
    .proyectLinksContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .proyectLinksContainer > *{
        font-size: 24px;
    }
    .proyectLinksContainer > *::after{
        content: "|";
        padding: 0 12px 0;
    }
    .ayoPage::after{
        content: "";
    }
}
@media only screen and (min-width: 1200px){
    .proyectsImageContainer{
        max-width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .imageProyect{
        display: inline-block;
        flex-wrap: wrap;
        padding: 24px 0px;
        width: 45%;
        height: 50%;
    }
    .imageLinkProyect{
        width: 100%;
    }
    .gifLinkProyect{
        width: 100%;
    }
    
    
}