/* WorkExperience Component */
.linkContainerWorkExperience{
    display: flex;
    justify-content: center;
}
.linkWorkExperience{
    padding: 60px 20px 40px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 26px;
    font-weight: 500;
}
.workExperiencieTitlePresentation{
    text-align: center;
    padding-top: 60px;
    font-size: 48px;
    font-weight: 600;
}
.workExperiencieSubtitlePresentation{
    padding: 40px 0 20px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
.workExperiencieParagraph{
    max-width: 75%;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}
/* AYO Work Experience */
.containerGlobalAYOWorkExperience{
    padding: 40px 0 80px 0;
}
.titleWorkExperienceAYO{
    padding-top: 20px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
.paragraphWorkExperienceAYO{
    max-width: 75%;
    margin: auto;
    text-align: center;
    padding: 20px 0 32px;
    font-size: 18px;
    font-weight: 500;
}
.secondParagraphWorkExperienceAYO{
    max-width: 75%;
    margin: auto;
    text-align: center;
    padding: 0px 0 40px;
    font-size: 18px;
    font-weight: 500;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 80%;
    margin: auto;
    align-items: center;
    flex-direction: column;
}
.imageContainerAYOExperience{
    width: 60%;
    height: 100%;
    display: inline-block;
    position: relative;
}
.imageContainerAYOExperience img{
    width: 100%;
    padding: 40px 0;
    transition: all linear 0.5s;
}
.GifAYO{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.imageContainerAYOExperience:hover img{
    opacity: 0;
}
.imageContainerAYOExperience:hover .GifAYO{
    opacity: 1;
}

.linkFundacionAYO{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-left: 4px;
    font-weight: 700;
}
/* Work Experience DW & JS */
.sectionTitle{
    padding-top: 40px;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
}
.linkImage{
    text-align: center;
}
.containerImages{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.containerImagesGraphics{
    display: flex;
    justify-content: center;
}
.linkImageGraphic{
    text-align: center;
}
.imageFeedback{
    max-width: 90%;
    margin: 20px 0;
    transition: 750ms;
}
.imageFeedback:hover{
    transform: scale(1.1);
}

@media only screen and (min-width: 768px){
    .imageFeedback{
        max-width: 65%;
    }
}
@media only screen and (min-width: 1200px){
    .workExperiencieParagraph{
        max-width: 65%;
    }
    .paragraphWorkExperienceAYO{
        max-width: 65%;
    }
    .sectionImageContainer{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .containerImages{
        display: flex;
        justify-content: flex-start;
        flex-direction: norow;
        flex-direction: initial;
    }
    .linkImage{
        text-align: center;
        max-width: 100%;
    }
    .linkImageGraphic{
        text-align: center;
        width: 100%;
    }
    .imageFeedback{
        max-width: 70%;
        min-height: 82%;
        margin: 60px 0;
    }
    /* AYO Work Experience 1200px*/
    .wrapper{
        display: flex;
        width: 100%;
        height: 80%;
        margin: auto;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .imageContainerAYOExperience{
        width: 40%;
        height: 100%;
        display: flex;
        position: relative;
    }
    .imageContainerAYOExperience img{
        width: 100%;
    }
}