
.body{
    background-image: url('../../images/portada_celular.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    background-color: #000;
    box-sizing: border-box;
    height: 100%;
}
.body:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
.textContainer{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin: auto;
}
.titleHome{
    color: #f9f9f9;
    text-align: start;
}
.spanTitleHome{
    display: block;
}
.myNameHome{
    color: #f9f9f9;
    padding: 64px 0 8px;
}
.lineHome{
    border-top: 2px solid rgb(255, 255, 255);
    width: 60%
}
.parrafoHome{
    color: #f9f9f9;
    margin: auto;
    padding-bottom: 20px;
}
.segundoParrafoHome{
    padding-bottom: 40px;
}
.btn-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;
}
.btn-home{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin: 8px 0;
}
.btn-home:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.btn-home:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}
.btn-home:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.link-home{
    text-decoration: none;
    color: white;
    animation: fadeInUp;
    animation-duration: 1500ms;
}
@media only screen and (min-width: 1200px) {
    .body{
        background-image: url('../../images/portada.jpg');
        height: 100vh;
    }
    .body:before {
        background-color: rgba(0,0,0,0.3);
    }
    .parrafoHome{
        max-width: 85%;
        margin: initial;
        padding-left: 20px;
        font-size: 20px;
    }
    .titleHome{
        font-size: 92px;
        font-weight: 700;
    }
    .myNameHome{
        padding-bottom: 0;
        font-size: 22px;
    }
    .btn-container{
        flex-direction: row;
    }
    .btn-home{
        margin: 8px 20px;
        font-size: 20px;
        font-weight: 600;
    }
}
@media only screen and (min-width: 1400px) {
    .body{
        height: 100vh;
    }
    .parrafoHome{
        max-width: 80%;
    }
}
@media only screen and (min-width: 1600px) {
    .body{
        height: 90vh;
    }
}