footer{
    border-top: 1px solid var(--text-color);
    background-color: var(--background-color);
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.FooterContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.mailTextFooter{
    font-size: 15px;
    font-weight: 500;
}
.FooterContainer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconFooter{
    color: var(--text-color);
}
.mailIcon{
    transition: 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.mailIcon:hover{
    color: 	#c71610;
    transition: 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.linkedinIcon{
    transition: 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.linkedinIcon:hover{
    color: #0077B5;
    transition: 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.githubIcon{
    transition: 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.githubIcon:hover{
    color: #888888;
    transition: 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.fa-envelope{
    font-size: 40px;
    padding: 40px 0 40px;
}
.fa-github{
    font-size: 40px;
    padding: 40px 0 40px;
}
.fa-linkedin{
    font-size: 40px;
    padding: 40px 0 40px;
}
.FooterContainer div p{
    font-weight: 500;
}
.textDownFooter{
    margin: 0;
    padding: 8px 0 36px 0;
    text-align: center;
}
@media only screen and (min-width: 768px){
    .FooterContainer{
        flex-direction: row;
    }
}