footer{
    background-color: rgb(248,249,250);
}
.FooterContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.mailTextFooter{
    font-size: 15px;
    font-weight: 500;
}
.FooterContainer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconFooter{
    color: black;
}
.mailIcon:hover{
    color: 	#c71610;
}
.linkedinIcon:hover{
    color: #0077B5;
}
.githubIcon:hover{
    color: #211F1F;
}
.fa-envelope{
    font-size: 40px;
    padding: 40px 0 40px;
}
.fa-github{
    font-size: 40px;
    padding: 40px 0 40px;
}
.fa-linkedin{
    font-size: 40px;
    padding: 40px 0 40px;
}
.FooterContainer div p{
    font-weight: 500;
}
.textDownFooter{
    margin: 0;
    padding: 8px 0 36px 0;
    text-align: center;
}
@media only screen and (min-width: 768px){
    .FooterContainer{
        flex-direction: row;
    }
}