body {
  /* background-image: url(./images/portada.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; */
  margin: 0;
  box-sizing: border-box;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}
/* Variables CSS */
:root{
  --black: #222;
  --white: rgb(249, 249, 249);
}
body.light{
  --background-color: var(--white);
  --text-color: var(--black);
  --image: url("./images/icons/iconMoon.png");
}
body.dark{
  --background-color: var(--black);
  --text-color: var(--white);
  --image: url("./images/icons/daySunny.png");
}
h1{
  color: var(--text-color);
}
h2{
  color: var(--text-color);
}
h3{
  color: var(--text-color);
}
h4{
  color: var(--text-color);
}
p{
  color: var(--text-color);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
