.about-me{
    margin-top: 60px;
}
.title-aboutMe{
    text-align: center;
    max-width: 80%;
    margin: auto;
    padding-bottom: 8px;
    font-size: 34px;
}
.subtitle-aboutMe{
    text-align: center;
    max-width: 80%;
    margin: auto;
    font-size: 20px;
    padding-bottom: 40px;
}
.subtitle-aboutMe a{
    text-decoration: none;
}
.link-coderh{
    color: gray;
}
.link-coderh:hover{
    color: rgb(114, 114, 114);
}
.link-dh{
    color: crimson;
}
.link-dh:hover{
    color: rgb(192, 13, 49);
}